/* Estilizaçoes padrões de tags */

:root {
  --default-color: #B41C8B;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #808080; 
  border-radius: 10px;
}
 
html::-webkit-scrollbar-thumb {
  background: var(--default-color); 
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--default-color); 
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F3F4;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 190px;
  border-bottom: solid 5px var(--default-color);
  background-color: #FFF;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}