:root {
  --default-color: #B41C8B;
}

.empresa-data-box {
  display: flex;
  align-items: center;
  margin-left: 58.96px;
}

.logo {
  background-color: #FFF;
  width: 142.08px;
  height: 142.08px;
  border-radius: 50%;
  margin-right: 31px;
  border: solid 2px var(--default-color);
}

.empresa-data {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
}

.relative {
  width: fit-content;
  position: relative;
}

.empresa-header-row p:first-child {
  font-size: 28px;
  line-height: 35px;
  font-weight: 700;
}

.empresa-header-row p:last-child {
  position: absolute;
  left: calc(100% + 20px);
  inline-size: fit-content;
  font-size: 12px;
  font-weight: 700;
  color: #1BBB16;
}

.empresa-endereco {
  font-weight: 400;
  font-size: 19px;
  line-height: 23.75px;
  margin: 15px 0;
}

.empresa-delivery p:first-child {
  margin-right: 42px;
}

.carrinho {
  margin-right: 29px;
}

.carrinho-quantidade {
  font-weight: 500;
  font-size: 18px;
  line-height: 22.5px;
}

.carrinho-valor {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--default-color);
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  background-color: #FFF;
}

.menu p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22.5px;
  transition: all .3s;
  cursor: pointer;
}

.menu p.active {
  color: var(--default-color);
  font-weight: 700;
  text-decoration-line: underline;
  pointer-events: none;
}

.tab-tittle {
  margin: 19px 0 19px 34px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27.5px;
  color: #333333;
}

.produtos-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 42.5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 254px;
  height: 440px;
  margin: auto;
  background-color: #FFFFFF;
}

.card img {
  margin: 5.910% 0;
  width: 88.19%;
}

.card .produto-name {
  font-weight: 500;
  font-size: 19px;
  line-height: 23.75px;
  padding: 0 5.910%;
  margin-bottom: 20px;
  color: #3F3F3F;
}